.homePageMainSectionButtons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 30px;
  width: 100%;
  max-width: 530px;
  .mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-font;
    text-align: center;
    width: 120px;
    height: 60px;
    font-size: 1.7em;
    font-weight: 300;
    word-wrap: break-word;
  }
}

@media(min-width:1024px){
  .homePageMainSectionButtons{
    margin: 0 auto;
    max-width: 640px;
    .mainButton{
      width: 260px;
      height: 120px;
      font-size: 3.6em;
    }

  }
}
