.homePageMainSectionNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login {
  margin-bottom: 40px;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  a:last-of-type {
    border: 1px solid $color-accent;
  }
}

.navBar {
  visibility: hidden;
  font-weight: 400;
  a {
    font-size: 1.15rem;
    padding: 10px 7px;
    &:first-of-type {
      border: 1px solid $color-font;
      padding: 10px 15px;
    }
  }
}

@media (min-width: 1024px) {
  .homePageMainSectionNav {
    .login {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
      margin-bottom: 0;
    }
    .navBar {
      visibility: visible;
      display: flex;
      justify-content: flex-end;
      a {
        font-size: 1.8em;
        margin: 11px 11px 0 11px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media(min-width:1400px){
  .homePageMainSectionNav{
    .navBar{
      a{
        margin: 8px 8px 0 8px;
      }
    }
  }
}
