.homePageMainSection {
  margin: 30px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 30px 30px;
  .mainOrnament {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .homePageMainSection {
    flex-direction: row-reverse;
    align-items: center;
    height: 760px;
    padding: 0 30px 0 30px;
    margin: 0;
    width: 100%;
    div {
      padding: 10px;
      width: 100%;
    }
    .homePageMainSectionImg {
      width: 0;
    }
  }
}

@media (min-width: 1400px) {
  .homePageMainSection {
    padding: 0 100px 0 0;
    .homePageMainSectionImg {
      padding: 0;
      background: url("../../assets/Home-Hero-Image.jpg") no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      align-self: flex-start;
      background-position: -470px 0;
    }
  }
}

@media (min-width: 1650px) {
  .homePageMainSection {
    .homePageMainSectionImg {
      background-position: -340px 0;
    }
  }
}
