.homePageSupportSection{
    padding: 30px;
    .homePageSupportSectionCarousel{
        display: flex;
        button{
            width: 33%;
            padding: 5px;
            border: none;
            border-radius: 0;
            font-size: 1.3em;
            font-weight: 400;
            &:nth-last-of-type(2){
                margin: 0 10px;
            }
            &:focus{
                outline: none;
            }
            &:active{
                outline: none;
            }
        }
    }
    p{
        margin-top: 40px;
        font-weight: 400;
        font-size: 1.2em;
        text-align: center;
    }
}